@model IEnumerable<Insta.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>User Posts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caption)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@(item.PhotoUrl)" class="user-post" alt="Instagram Post" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
        </tr>
}
    </tbody>
</table>
