@model Insta.Models.AccountInfo


<h1>User Posts</h1>

@foreach (var item in Model.Posts) {
    <article style="border-radius: 3px; border: 1px solid #e6e6e6;">
        <section style="padding-top: 60px;">
            <div>
                <div>
                    <header>
                        <div>
                            <h6>@Model.Username</h6>
                        </div>
                        <div>
                            <span>@(item.LocationName)</span>
                        </div>
                    </header>
                    <div style="padding-top:5px">
                        <img src="@(item.PhotoUrl)" class="user-post" alt="Instagram Post" />
                    </div>
                </div>
            </div>
        </section>
    </article>
    
}