
@model String

<div class="text-center">
    <h1 class="display-5">Система рекомендацій постів в Instagram</h1>
</div>

@if (Model != null)
{
    <div id="error-block">
        <span>@Model</span>
    </div>
}

<div class="container" style="margin-top: 2em">
   <span>Ваш профіль повинен бути публічним та містити хештеги або локації</span>
    
    <form asp-controller="Home" asp-action="GetRecommendedPosts" class="form-group" method="get" style="margin-top: 1em;">
        <input type="text" id="username" name="username" value="" placeholder="username">
        <button class="btn btn-primary" type="submit">Submit Form</button>
    </form>
</div>
