
@model String

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Instagram posts recommender system</p>
</div>

@if (Model != null)
{
    <div id="error-block">
        <span>@Model</span>
    </div>
}

<div class="container">
   <p>Your Instagram account should be public</p>
    
    <form asp-controller="Home" asp-action="GetUserPosts" class="form-group" method="get">
        <input type="text" id="username" name="username" value="" placeholder="username">
        <button type="submit">Submit Form</button>
    </form>
</div>
